[submodule "linux-configuration/user/.config/dwl/dwl-dotfiles"]
	path = linux-configuration/user/.config/dwl/dwl-dotfiles
	url = https://github.com/krypciak/dwl-dotfiles
[submodule "linux-configuration/user/.config/dwl/someblocks"]
	path = linux-configuration/user/.config/dwl/someblocks
	url = https://github.com/krypciak/someblocks
[submodule "linux-configuration/user/.config/dwl/somebar"]
	path = linux-configuration/user/.config/dwl/somebar
	url = https://github.com/krypciak/somebar
[submodule "distrobridge"]
	path = distrobridge
	url = https://github.com/krypciak/distrobridge
[submodule "linux-configuration"]
	path = linux-configuration
	url = https://github.com/krypciak/linux-configuration
